* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 70%;
  padding: 2em;
  margin-top: 1em;
}
